body {
    margin:0;
    display: block;
}
h1 {
    color: darkblue;
    text-align: left;
    padding: 100px;
    display: block:
    margin: 5rem;
    
}
div {
    text-align: center;
    color: #888888;
    display: block;
}
h2, h3 {
    text-align: center;
    color: #303030;
    font-size: 20px;
    font-weight: bold;
}
#rect1 {
    height: 150px;
    width: 500px;
    margin: 5rem;
    padding: 1rem;
    border-style: groove;
    border-color: red;
    border-width: 15px;
    background: red; /* for browsers that don't support gradient*/
    background: radial-gradient(circle, red, yellow, green);
}
#rect2 {
    height: 100px;
    width: 400px;
    margin: 5rem;
    padding: 2rem;
    border-style: dotted double dashed ridge;
    border-color: mediumpurple;
    border-width: 5px;
    background: yellow;
}
#rect3 {
    height:100px;
    width: 300px;
    margin: 5rem;
    padding: 3rem;
    border-style: solid;
    border-color: palevioletred;
    border-width: 15px;
    border-radius: 25px;
    background: lightskyblue;
}
